@import 'mapbox-gl/dist/mapbox-gl.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

/*
#marker {
  background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
} */


#image-upload-page {
  /* font-family: 'Handjet', cursive; */
  /* font-family: 'Silkscreen', cursive; */
  font-family: 'Delicious Handrawn', cursive;
  text-align: center;
}

#drop-area {
  width: 50vw;
  height: 60vh;
  margin: auto;
  margin-top: 10%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 20%);
  border-style: dashed;
  border-color: black;
  border-width: 5px;
  border-radius: 1rem;
}

#image-upload-page > h3 {
  position: absolute;
  top: 30%;
  margin: auto;
  left: 50%;
  transform: translate(-50%, -30%);
  color: black;
}

#drop-area-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0%
}


#form-submitted-page > h2, #image-submitted-page > h2 {
  /* font-family: 'Phudu', cursive; */
  margin-top: 25%;
  font-family: 'Delicious Handrawn', cursive;
}

#graffiti-form-page > h1 {
  font-family: 'Delicious Handrawn', cursive;
}

#footer {
  position: fixed;
  /* relative */
  bottom: 0%;
  right: 1%;
  padding: 1%;
  text-align: right;
  font-size: 0.9rem;
  background-image: none;
}

/* code below for navbar */
.css-10hburv-MuiTypography-root { /* navbar text */
  font-size: 1.3rem !important;
  font-family: 'Delicious Handrawn', cursive !important;
}

.css-10hburv-MuiTypography-root:hover {
  color: lightblue;
}

/* code below is for graffiti form page */
form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: inline-block;
  width: 150px;
  margin: 0.5rem;
  /* margin-right: -50%. -100px !important */
}

input {
  width: 70%;
  display: block;
  margin: auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  /* margin-top: 6px;
    margin-bottom: 16px; */
}

form > button {
  margin: 0.5rem;
  margin-top: 1.5rem;
  padding: 15px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1rem;
  font-family: 'Delicious Handrawn', cursive;
  color: white;
  background-color: black;
}

form > button:active {
  color: lightblue;
}

#graffiti-show-page > h1 {
  font-family: 'Delicious Handrawn', cursive;
}

#navbar-text {
  font-family: 'Sedgwick Ave Display', cursive;
}

form {
  font-size: 1.5rem;
  font-family: 'Delicious Handrawn', cursive;
  /* font-family: 'Slackside One', cursive !important; */
}

#popup {
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 1rem;
}

#popup > p > span {
  font-weight: bold;
}
